<!-- <div class="main">
   <div class="container">
      <h2>{{randomCode}}</h2>
      <button class="btn" (click)="getColor()">Click</button>
   </div>
</div> -->
<h2 class="title" style="font-size: 25px;">Our Training Courses</h2>
<div id="main">
   <div class="custom-card">
      <i class="fa-solid fa-laptop-code"></i>
      <h2 class="title">Angular Web Development</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem est sint, ipsa perferendis
         perspiciatis totam eveniet ratione aut tempora dolores hic soluta.</p>
      <button type="button" class="read-more-btn">Read More</button>
   </div>

   <div class="custom-card">
      <i class="fa-brands fa-android"></i>
      <h2 class="title">Android Development</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem est sint, ipsa perferendis
         perspiciatis totam eveniet ratione aut tempora dolores hic soluta.</p>
      <button type="button" class="read-more-btn">Read More</button>
   </div>

   <div class="custom-card">
      <i class="fa-brands fa-react"></i>
      <h2 class="title">ReactJs Development</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem est sint, ipsa perferendis
         perspiciatis totam eveniet ratione aut tempora dolores hic soluta.</p>
      <button type="button" class="read-more-btn">Read More</button>
   </div>

   <div class="custom-card">
      <i class="fa-brands fa-python"></i>
      <h2 class="title">Python Training</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem est sint, ipsa perferendis
         perspiciatis totam eveniet ratione aut tempora dolores hic soluta.</p>
      <button type="button" class="read-more-btn">Read More</button>
   </div>

   <div class="custom-card">
      <i class="fa-brands fa-bootstrap"></i>
      <h2 class="title">Bootstrap Training</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem est sint, ipsa perferendis
         perspiciatis totam eveniet ratione aut tempora dolores hic soluta.</p>
      <button type="button" class="read-more-btn">Read More</button>
   </div>

   <div class="custom-card">
      <i class="fa-brands fa-java"></i>
      <h2 class="title">Java Training</h2>
      <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem est sint, ipsa
         perferendis
         perspiciatis totam eveniet ratione aut tempora dolores hic soluta.</p>
      <button type="button" class="read-more-btn">Read More</button>
   </div>

   <div class="custom-card">
      <i class="fa-brands fa-css3-alt"></i>
      <h2 class="title">CSS Design</h2>
      <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem exercitationem est sint, ipsa
         perferendis
         perspiciatis totam eveniet ratione aut tempora dolores hic soluta.</p>
      <button type="button" class="read-more-btn">Read More</button>
   </div>
</div>